*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5; }

.header__logo-link a {
  font-family: 'Poppins', sans-serif;
  font-size: 1.1rem;
  font-weight: 400; }

.header__hero-text--heading {
  font-size: clamp(1.5rem, 6vw, 4rem);
  font-family: 'Poppins', sans-serif; }

.header__hero-text--pgraph {
  font-size: clamp(0.9rem, 4vw, 1.5rem); }

.header__hero-text--btn {
  font-family: 'Poppins', sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
  color: white; }

.main__text--heading {
  font-size: clamp(1.2rem, 5vw, 2rem);
  font-family: 'Poppins', sans-serif; }

.main__text--prgph {
  font-size: clamp(0.8rem, 4vw, 1.5rem); }

.main__text--btn {
  font-family: 'Poppins', sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
  color: white; }

.footer {
  color: white; }
  .footer__footer-contact--text {
    font-size: clamp(0.8rem, 4vw, 1.5rem); }
  .footer__footer-list a {
    color: white;
    font-size: clamp(0.8rem, 4vw, 1.5rem); }

.header__logo-link a {
  background-color: white;
  text-decoration: none;
  color: black;
  padding: 5px 30px;
  border-radius: 100px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1); }

.header__hero-text--btn {
  width: 70%;
  background-color: #ff52bf;
  padding: 10px;
  text-decoration: none;
  margin: 0 auto;
  border-radius: 100px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1); }

.main__text--btn {
  width: 70%;
  background-color: #ff52bf;
  padding: 10px;
  text-decoration: none;
  margin: 0 auto;
  border-radius: 100px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1); }

.main__first-cont {
  max-width: 80rem;
  padding: 30px;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column-reverse;
  gap: 5rem;
  border-radius: 10px;
  margin: 0 auto; }

.main__second-cont {
  max-width: 80rem;
  padding: 30px;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column-reverse;
  gap: 5rem;
  border-radius: 10px;
  margin: 0 auto; }

.main__third-cont {
  max-width: 80rem;
  padding: 30px;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column-reverse;
  gap: 5rem;
  border-radius: 10px;
  margin: 0 auto; }

.main__fourth-cont {
  max-width: 70rem;
  margin: 0 auto;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.2);
  display: grid;
  gap: 3rem;
  padding: 30px 25px;
  border-radius: 10px; }

.header {
  background: url(/images/bg-hero-mobile.svg) no-repeat;
  background-size: 100%;
  min-height: 100vh;
  background-color: #ebfbff;
  display: flex;
  flex-direction: column;
  gap: 3rem; }
  .header__logo-link {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 50px 5vw; }
  .header__logo-link img {
    width: clamp(10rem, 20vw, 20rem);
    height: auto; }
  .header__hero-image img {
    width: 100%; }
  .header__hero {
    display: grid;
    gap: 6rem;
    padding: 0 10vw; }
  .header__hero-text {
    display: grid;
    gap: 2rem;
    text-align: center; }
    .header__hero-text--pgraph {
      margin: 0 2vw; }

.main {
  padding: 100px 10vw;
  display: flex;
  flex-direction: column;
  gap: 10rem;
  text-align: center;
  position: relative; }
  .main__image img {
    width: 100%; }
  .main__text {
    display: grid;
    gap: 2rem; }

.footer {
  padding: 100px 10vw;
  background-color: #00252e;
  display: grid;
  gap: 5rem; }
  .footer__huddle-logo {
    width: 20rem; }
  .footer__huddle-logo path {
    fill: white; }
  .footer__logo-contacts {
    display: grid;
    gap: 2rem; }
  .footer__footer-contact {
    display: grid;
    gap: 2rem; }
    .footer__footer-contact--contacts {
      display: flex;
      align-items: baseline;
      gap: 2rem; }
  .footer__footer-list {
    display: grid;
    gap: 1.5rem; }
  .footer__footer-list ul {
    display: grid;
    gap: 1.5rem; }
  .footer__footer-list li {
    list-style-type: none; }
  .footer__footer-list a {
    text-decoration: none; }
  .footer__footer-icon {
    display: flex;
    justify-content: center;
    gap: 2rem; }
