/*
button-animation
*/

@mixin btn-animation {
    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 15px 30px rgba($color: #000000, $alpha: 0.3);
    }
    &:active {
        transform: translateY(0);
        box-shadow: 0 5px 10px rgba($color: #000000, $alpha: 0.3);
    }
}








// MEDIA QUERY

/*
$breakpoints:

- tab-port 760px
- tab-land 1024px
- desktop 1360px
- wide-screen 1800px
- 4k 2000px

*/

@mixin respond-tab-port {
    @media screen and (min-width: 760px) { @content }
}
@mixin respond-tab-land {
    @media screen and (min-width: 1024px) { @content }
}
@mixin respond-desktop {
    @media screen and (min-width: 1360px) { @content }
}
@mixin respond-wide-screen {
    @media screen and (min-width: 1800px) { @content }
}
@mixin respond-4k-screen {
    @media screen and (min-width: 2000px) { @content }
}