$color-primary-pink: hsl(322, 100%, 66%);
$color-pale-cyan: hsl(193, 100%, 96%);
$color-dark-cyan: hsl(192, 100%, 9%);
$color-gray-blue: hsl(208, 11%, 55%);

$breakpoint-small-laptop: 1024px;
$breakpoint-large-laptop: 1440px;
$breakpoint-4k-screen: 2200px;
