.footer {
    padding: 100px 10vw;
    background-color: $color-dark-cyan;
    display: grid;
    gap: 5rem;

    &__huddle-logo {
        width: 20rem;
    }
    &__huddle-logo path {
        fill: white;
    }
    &__logo-contacts {
        display: grid;
        gap: 2rem;
    }
    &__footer-contact {
        display: grid;
        gap: 2rem;
        &--contacts {
            display: flex;
            align-items: baseline;
            gap: 2rem;
        }
    }
    &__footer-list {
        display: grid;
        gap: 1.5rem;

        @include respond-desktop {
            display: grid;
            grid-template-columns: 1fr 1fr;
            place-items: center;
        }
    }
    &__footer-list ul {
        display: grid;
        gap: 1.5rem;
    }
    &__footer-list li {
        list-style-type: none;
    }
    &__footer-list a {
        text-decoration: none;
    }
    &__footer-icon {
        display: flex;
        justify-content: center;
        gap: 2rem;

        @include respond-desktop {
            align-items: center;
        }
    }

    @include respond-desktop {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
        align-items: center;
    }
    @include respond-wide-screen {
        padding: 5rem 10vw;
    }
    @include respond-4k-screen {
        padding: 5rem 15vw;
    }
}
